parameters:
    paths:
        - %currentWorkingDirectory%/src
    level: 7
    universalObjectCratesClasses:
        - MongoDB\Client
        - MongoDB\Database
        - RollBot\User
        - MongoDB\Model\BSONDocument
